.spacing {
  display: flex; justify-content: space-between; margin-bottom: 20px; align-items:center;
}

.heading{
  font-size: 18px; font-weight: 500
}

.regions{
  height: 56px; align-items: center;
}

  