.tableCss            
{
    border: solid 1px #e6e5e5;
}
            
/*for header*/
.tableCss thead
{
    background-color: #0094ff;
    color:#fff;
    padding: 10px;
    text-align:center;
}
            
.tableCss td
{
    border: solid 1px #e6e5e5;
    padding: 10px;
}
            
/*for footer*/
/* .tabTask tfoot
{
    background-color: #000;
    color: #fff;
    padding: 10px;
} */
            
/*for body*/
/* .tabTask tbody
{
    background-color: #e9e7e7;
    color: #000;
    padding: 10px;
} */