<div id="email-domain-variable">slb</div>
<p style="font-weight: bold; color:Blue">
  Employees Details Screen
</p>

<label> Name Search: </label>
<input type="text" [(ngModel)]="inputVal" />

<table class="tableCss">
  <thead>
    <th>ID</th>
    <th>Name</th>
    <th>Location</th>
    <th>Mobile</th>
    <th>Edit</th>
    <th>Delete</th>
  </thead>
  <tr *ngFor='let emp of dmService.employees|namefilter:inputVal'>
    <td>{{emp.id}}</td>
    <td>{{emp.name}}</td>
    <td>{{emp.location}}</td>
    <td>{{emp.mobile}}</td>
    <td>
      <a id="edit-btn" routerLink (click)="editEmpDetails(emp.id)">Edit</a>
    </td>
    <td>
      <button (click)="deleteEmpDetails(emp.id)" style="font-weight: bold; color:Red">Delete</button>
    </td>
  </tr>
</table>

<div style="display:flex;">
  <div *ngFor="let item of newList" style="padding: 20px;">
    <button [id]="'item-' + item"> {{item}} </button>
  </div>
</div>


<div style="display:flex;">
  <div *ngFor="let item of applicationsList" style="padding: 20px;">
      <button [id]="'launch_' + item.code" (click)="myAppsLaunch(item.code)" [id]="'newItem-' + item.name"> {{item.name}} </button>
  </div>
</div>